<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%- include("./components/nav")%>
  <%- include("./components/hero")%>
  <%- include("./components/content")%>
  <%- include("./components/page2")%>
  <%- include("./components/page3")%>
  <%- include("./components/page4")%>
  <script src="/javascripts/hero.js"></script>
  <script src="/javascripts/content.js"></script>
</body>
</html>
